#Custom ignors
assets/sounds/MinecraftExtracted
build/
bin/
.vs/
*.zip
*.sln
*.vcxproj
*.vcxproj.*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
!premake/Windows/premake5.exe
*.out
*.app

